@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-800;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg transition-colors;
  }
  
  .btn-primary {
    @apply bg-forest text-white hover:bg-forest/90;
  }
  
  .btn-secondary {
    @apply bg-mint text-forest hover:bg-mint/90;
  }
}

:root {
  --font-heading: 'Marcellus', serif;
  --font-body: 'Mulish', sans-serif;

  --color-forest: #173505;
  --color-cream: #fbf7e4;
  --color-ivory: #f5f1cd;
  --color-amber: #ffc95c;
  --color-orange: #ef9821;
  --color-bright-orange: #f46b24;
  --color-raspberry: #c92e52;
  --color-mint: #96ae6d;
  --color-olive: #7c9853;
  --color-moss: #425422;
}

body {
  @apply font-body bg-cream text-forest;
  font-family: var(--font-body);
  background-color: var(--color-cream);
  color: var(--color-forest);
}

h1, h2, h3, h4 {
  @apply font-heading;
}
